.aboutmepadding {
    padding-top: 4px;
}

.edubackground  {
  padding-top: 5rem;
  background-color: lightgray;
}

.blacktext {
  --bs-text-opacity: 1;
  color: black !important;
}

.linkedin {
  color: red;
  text-decoration: underline;
}
.linkongray {
    color: black
}

.livelife {
    font-family: broadway;
    font-size: 50px;
}

.secthead {
    font-family: coopersblack;
    font-size: 50px;
}

.skillhead {
    font-family: coopersblack;
    font-size: 40px;
}

.edutext {
    font-size: 20px;
}
.text-white-50 {
    color: white !important;
}
/* make any “50” white */
.text-white-50 {
    color: white !important;
}
/* Fix Tableau page navbar overlap (Tableau page only) */
body.tableau-page {
    padding-top: 80px; /* Space for your navbar */
}
/* Extra top space on the Tableau page so content isn't under the navbar */
body.tableau-page {
    padding-top: 80px;
}






